* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #10375c;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 65px 50px 1fr;
  grid-template-areas:
    "header"
    "nav"
    "main";
}

header {
  grid-area: header;
  background-color: #f3c623;
  display: flex;
  align-items: center;
  padding: 20px;
}

header h1 {
  flex-grow: 1;
}

.bell {
  height: 36px;
  width: 35px;
  margin: 15px;
}

header img {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 50%;
}

nav {
  grid-area: nav;
  background-color: #127681;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a img {
  height: 30px;
  margin: 20px 0;
}

main {
  grid-area: main;
  background-color: #f4f6ff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.main-header {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
  align-items: center;
}
.traffic-header ul {
  display: flex;
  list-style: none;
}
.traffic-header ul li {
  margin: 5px;

  border-radius: 15px;
  padding: 5px 10px;
}
.active {
  color: white;
  background: #127681;
}
.member {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #10375c;
}
.member img {
  border-radius: 50%;
  height: 50px;
  margin: 10px;
}
.member-info {
  flex-grow: 1;
}
.form-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
form > textarea {
  margin: 10px 0;
  height: 100px;
}
.social {
  display: flex;
  background-color: #e5e9f8;
  padding: 15px 30px;
  margin: 15px;
  border: 1px solid #10375c;
}
.social-img {
  height: 50px;
  width: 50px;
  padding: 10px;
  fill: white;
  background: #127681;
  border-radius: 50%;
}

.alert {
  margin: 15px auto;
  padding: 15px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  background: #f3c623;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
}
.alert p,
.alert strong {
  color: #127681;
  font-size: 1.2rem;
}
.close-banner {
  cursor: pointer;
}

@media (min-width: 768px) {
  .wrapper {
    grid-template-rows: 80px 65px 1fr;
  }
  .socials {
    display: flex;
    justify-content: space-between;
  }
  .social {
    flex-grow: 1;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    grid-template-columns: 80px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
      "header header"
      "nav main";
  }

  nav {
    flex-direction: column;
    justify-content: flex-start;
  }
  .traffic-header {
    display: flex;
    justify-content: space-between;
  }
  .half-size {
    display: flex;
  }
  .half-size section {
    flex-basis: 50%;
    border: 1px solid #10375c;
  }
}
